@use '../../variables.scss';

.search-form {
  width: 464px;
  margin: 0 auto;

  &__input {
    width: 440px;
    height: 30px;
    font-size: 32px;
    padding: 12px;
  }

  &__item {
    background-color: variables.$page-color;
    border: 2px solid variables.$def-color;
    font-size: 24px;
    padding: 8px;

    &:hover {
      cursor: pointer;
      background-color: variables.$back-color;
    }
  }
}